//Fonts

@mixin font-light($font-size) {
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-weight: 300; // Light weight
  font-style: normal;
  font-size: $font-size;
}

@mixin font-regular($font-size) {
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-weight: 400; // Regular weight
  font-style: normal;
  font-size: $font-size;
}

@mixin font-bold($font-size) {
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-weight: 700; // Bold weight
  font-style: normal;
  font-size: $font-size;
}

p {
  @include font-regular(18px);
}

h1 {
  @include font-bold(36px);
}
h2 {
  @include font-bold(28px);
}
h3 {
  @include font-bold(24px);
}
h4 {
  @include font-bold(20px);
}
h5, p.bold {
  @include font-bold(18px);
}

// Buttons

.panel-button {
  width: 180px;
  height: 80px;
  @include font-bold(24px);
}