@import "../../../../assets/scss/imports.scss";

.reel {
  @include display-and-panel;

  &-display {
    perspective: 1000px;
    display: flex;
    justify-content: center;

    &-grid {
      display: grid;
      grid-template-rows: repeat(8, 75px);
      width: 80%;
      transform-style: preserve-3d;
      transform: rotateX(70deg);

      .reel-ripple {
        position: absolute;
        left: calc(50% - 15px); // Center the red box horizontally (30px width / 2 = 15px offset)
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: darken($biomeBackground, 20%);
        animation: reel-ripple-animation 3s infinite; // Updated animation duration
        transition: top 0.3s ease;
      
        &.second {
          animation-delay: 1s; // 1 second delay for the 2nd element
        }
      
        &.third {
          animation-delay: 2s; // 2 seconds delay for the 3rd element
        }
      }

      .grid-square {
        width: 100%;
        height: 100%;
        background-color: $biomeBackground;
        position: relative; // Ensure position is relative for absolute children

        &.active {
          background-color: #ddd; // Keep background color same to show only the circle
          border-color: #bbb;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            height: 50%;
            background-color: #4caf50; // Green color for the circle
            border-radius: 50%;
            transform: translate(-50%, -50%); // Center the circle
            transition: width 0.3s ease, height 0.3s ease; // Smooth transition
          }
        }

        // Animation for the circle moving
        .active {
          &::before {
            width: 50%;
            height: 50%;
          }
        }
      }
    }
  }

  &-panel {
    &-buttons {
      @include button-container;
    }
  }
}

@keyframes reel-ripple-animation {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}