$itemSize: 16px;

$biomeShallow: #E0F5FF;  /* Almost white blue */
$biomeNormal: #A3D4F7;   /* Light blue */
$biomeDeep: #6DAEDB;     /* Mid blue */
$biomeBackground: #4A75B3; /* Darker blue */
$biomeReeds: #A4C49A;    /* Light earthy green */
$biomeSwamp: #76926e;    /* Darker earthy green */
$biomeLand: #8B4513;     /* Deep brown/orange */



.grid-container {
    display: grid;
    justify-content: center;
    margin-top: 30px;
    gap: 1px;
    background-color: #4A75B3;
  }
  
  .grid-item {
    width: $itemSize;
    height: $itemSize;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
  }
  
  .normal {
    svg {
      color: $biomeNormal;
      opacity: .8;
     } 
  }

  .land {
      background-color: $biomeLand;
      border-radius: 25%;
  }

  .shallow {
    svg {
      color: $biomeShallow;
      opacity: .8;
    }
  }

  .deep {
    svg {
      color: $biomeDeep;
      opacity: .8;
    }
  }

  .reeds {
    svg {
      color: $biomeReeds;
      height: 80%;
      width: 80%;
      padding: 10%;
    }
  }

  .swamp {
    svg {
      color: $biomeSwamp;
      height: 80%;
      width: 80%;
      padding: 10%;
    }
  }

  .grid-item.active {
    background-color: yellow !important; // Highlight the active square
  }  