@import '../../../../assets/scss/imports.scss';

$itemSize: 14px;

.grid-container {
    display: grid;
    justify-content: center;
    gap: 1px;
    background-color: $water;
  }
  
  .grid-item {
    width: $itemSize;
    height: $itemSize;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
  }
  
  .normal {
    svg {
      color: $biomeNormal;
      opacity: .8;
     } 
  }

  .land {
      background-color: $biomeLand;
      border-radius: 25%;
  }

  .shallow {
    svg {
      color: $biomeShallow;
      opacity: .8;
    }
  }

  .deep {
    svg {
      color: $biomeDeep;
      opacity: .8;
    }
  }

  .reeds {
    svg {
      color: $biomeReeds;
      height: 80%;
      width: 80%;
      padding: 10%;
    }
  }

  .swamp {
    svg {
      color: $biomeSwamp;
      height: 80%;
      width: 80%;
      padding: 10%;
    }
  }

  .grid-item.active {
    background-color: yellow !important; // Highlight the active square
  }  

  //Background

  .background {
    height: 600px;
    width: 700px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }